

[fan_generic case_circulation_fan]
pin: PA0
# shutdown_speed: 1

[fan]
pin: PA1

# PA2 
# не нашел на схеме
# PA3
# PB0
# PB1



# [fan]
# pin: PA2
# shutdown_speed: 1

#fan for control board FAN2
#[heater_fan my_control_fan]

# [heater_fan fan1]
# pin: PA2
# shutdown_speed: 1

# [fan]
# pin: OUT0